{
  "tcloud": {
    "appId": "",
    "secretId": "",
    "secretKey": "",
    "cos": {
      "bucket": "",
      "region": ""
    }
  },
  "wx": {
    "appId": "",
    "appSecret": ""
  },
  "web": {
    "authURL": "",
    "title": "Albu Photo Gallery"
  },
  "security": {
    "secret": "",
    "pincode": "",
    "password": ""
  },
  "system": {
    "docker_name": "omoyde-api",
    "domain": "",
    "msg_encoding": {
      "python": "utf-16_be",
      "javascript": "utf-16be"
    }
  }
}
